<div class="container">
    <div class="my-3 py-5">
        <div class="row d-flex">
            <div class="col-12" *ngFor="let emergencyNumber of emergencygNumbers">
                <a class="btn-link" href="tel:{{emergencyNumber.phoneNr}}">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img [src]="emergencyNumber.imgSrc" class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{emergencyNumber.phoneNr}}
                                    </h5>
                                    <p class="card-text">{{emergencyNumber.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>