<div class="container">
    <div class="my-3 py-5">
        <div class="col-12">
            <div class="w-100" *ngFor="let section of sections; let i = index">
                <div class="card w-100 mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img [src]="section.image" class="card-img" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span [innerHTML]="section.title"></span>
                                </h5>
                                <h3 class="card-text">
                                    <span [innerHTML]="section.name"></span>
                                </h3>
                                <p class="card-text">
                                    <span [innerHTML]="section.description"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>