<div class="container">
    <div class="my-3 py-5">
        <div class="col-12">
            <h2 class="mb-3">Wypadek</h2>
            <div class="w-100" *ngFor="let section of sections; let i = index">
                <div class="card w-100 mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img [src]="section.image" class="card-img" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{section.title}}</h5>
                                <h3 class="card-text">{{section.name}}</h3>
                                <p class="card-text">{{section.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>