<div class="container">
    <div class="my-3 py-5 d-flex justify-content-center">
        <div class="col-xl-7 col-lg-9 col-md-12">
            <h2 class="w-100 text-center mb-3">Quiz / Sprawdź swoja wiedzę </h2>
            <div class="text-muted w-100 text-center">Pytanie losowe</div>

            <div class="card text-left my-3">
                <img class="card-img-top" [src]="question.image" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{question.question}}</h4>

                    <ul class="list-group mt-3 py-2 list-group-flush">
                        <li class="list-group-item d-flex justify-content-between">
                            A) {{question.options[0].value}}
                            <ng-container *ngIf="showAnswer">
                                <div class="text-success" *ngIf="isOk(question.options[0])">
                                    <fa-icon [icon]="faOk"></fa-icon>
                                </div>
                                <div class="text-danger" *ngIf="!isOk(question.options[0])">
                                    <fa-icon [icon]="faBad"></fa-icon>
                                </div>
                            </ng-container>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            B) {{question.options[1].value}}
                            <ng-container *ngIf="showAnswer">
                                <div class="text-success" *ngIf="isOk(question.options[1])">
                                    <fa-icon [icon]="faOk"></fa-icon>
                                </div>
                                <div class="text-danger" *ngIf="!isOk(question.options[1])">
                                    <fa-icon [icon]="faBad"></fa-icon>
                                </div>
                            </ng-container>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            C) {{question.options[2].value}}
                            <ng-container *ngIf="showAnswer">
                                <div class="text-success" *ngIf="isOk(question.options[2])">
                                    <fa-icon [icon]="faOk"></fa-icon>
                                </div>
                                <div class="text-danger" *ngIf="!isOk(question.options[2])">
                                    <fa-icon [icon]="faBad"></fa-icon>
                                </div>
                            </ng-container>
                        </li>
                    </ul>

                    <div class="my-2 d-flex justify-content-around">
                        <div *ngIf="showOk" class="text-success">Odpowiedź prawidłowa :)</div>
                        <div *ngIf="showBad" class="text-danger">Odpowiedź nieprawidłowa :(</div>
    
                        <button *ngIf="showBad" class="btn btn-link" (click)="resetQuestion()">Inne pytanie</button>
                    </div>
                    

                    <div *ngIf="!answered" class="card-text mt-3 p-2 d-flex justify-content-around">
                        <button class="btn btn-primary" (click)="answer(question.options[0])">Odp. A)</button>
                        <button class="btn btn-primary" (click)="answer(question.options[1])">Odp. B)</button>
                        <button class="btn btn-primary" (click)="answer(question.options[2])">Odp. C)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>