<div class="container">
    <div class="my-3 py-5">
        <div class="col-12">
            <h2 class="w-100 text-center mb-3">Mapa / Znajdź obiekty NFZ, AED, apteki</h2>

            <form>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Filtruj...</option>
                            <option value="1">NFZ</option>
                            <option value="2">AED</option>
                            <option value="3">Apteka</option>
                        </select>
                    </div>

                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary">Pokaż punkty</button>
                    </div>
                </div>
            </form>

            <div class="map-container" leaflet [leafletOptions]="options" [leafletLayers]="layers"
                (leafletMapReady)="mapReady($event)">
            </div>

        </div>
    </div>
</div>