<div class="container">
    <div class="my-3 py-5">
        <h2 class="w-100 text-center pb-5 mb-2">Pytania i Odpowiedzi / Często zadawane pytania</h2>

        <div class="col-12">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel *ngFor="let qa of qas" title="{{qa.q}}">
                    <ng-template ngbPanelContent>
                        {{qa.a}}
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>