<div class="container">
    <div class="my-3 py-5">
        <div class="col-12">
            <h2 class="mb-3">Pierwsza pomoc</h2>
            <div class="w-100" *ngFor="let step of adultSteps; let i = index">
                <div class="card w-100 mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img [src]="step.image" class="card-img" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{step.title}}</h5>
                                <h3 class="card-text">{{step.name}}</h3>
                                <p class="card-text">{{step.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>