/* You can add global styles to this file, and also import other style files */

.btn-primary {
  text-decoration: none;
  height: 25px;
  padding-top: 8px;
  height: 40px;
  padding-left: 20px;
  padding-right: 15px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #464646;
  font-family: "futura_plheavy", "arial", "verdana", sans-serif;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  border: 1px solid #464646;
  border-radius: 0px;
  height: 37px;

  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  .active {
    background-color: #464646;
    color: red;
  }

  &:focus,
  &:not(:disabled):not(.disabled):active:focus,
  &.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(70, 70, 70, 0.5);
  }
}

.custom-select {
  border-radius: 0px;
  border: 1px solid #464646;
  cursor: pointer;
  &:hover,
  &:focus,
  &:not(:disabled):not(.disabled):active,
  .active {
    background-color: #464646;
    border: 1px solid #464646;
    color: red;
  }

  &:focus,
  &:not(:disabled):not(.disabled):active:focus,
  &.dropdown-toggle:focus {
    border: 1px solid #464646;
    box-shadow: 0 0 0 0.2rem rgba(70, 70, 70, 0.5);
  }
}

.card {
  border-radius: 0px;
}

.btn-link {
    color: #DD3126;
    &:active,&:focus,&:hover {
        color: #DD3126;
    }
}