<footer>
    <div class="container-fluid w-100">
        <div class="row footer-content">
            <ul class="col-md-6 col-sm-12 d-flex justify-content-around list-unstyled">
                <li>mapa serwisu</li>
                <li>przetargi</li>
                <li>polityka prywatności</li>
                <li>zastrzeżenia prawne</li>
            </ul>
            <ul class="col-md-6 col-sm-12 d-flex justify-content-around list-unstyled">
                <li class="menu-facebook">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </li>
                <li class="menu-twitter">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </li>
                <li class="menu-youtube">
                    <fa-icon [icon]="faYoutube"></fa-icon>
                </li>
                <li class="menu-instagram">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </li>
            </ul>
        </div>
    </div>
</footer>