<nav class="navbar navbar-expand navbar-light bg-white pt-0">
    <div class="container navbar__container d-flex flex-wrap align-items-start">
        <div class="logo-wrapper col-xl-3 col-md-2 col-sm-12">
            <a routerLink="/home" class="image-wrapper">
                <img src="/assets/logo_web.png" alt="logo orlen">
            </a>
        </div>

        <div class="col-xl-3 col-md-5 col-sm-12 d-flex justify-content-center flex-grow">
            <ul class="w-100 list-unstyled d-flex justify-content-around flex-grow icons-list">
                <li class="menu-facebook">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </li>
                <li class="menu-twitter">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </li>
                <li class="menu-youtube">
                    <fa-icon [icon]="faYoutube"></fa-icon>
                </li>
                <li class="menu-instagram">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </li>

                <li class="language">
                    English
                </li>

                <li>
                    Kontakty
                </li>
            </ul>
        </div>

        <div class="col-xl-6 col-md-5 col-sm-12 d-flex justify-content-end flex-grow flex-shrink flex-wrap">
            <div class="py-2 search-box d-flex flex-column align-items-center justify-content-center">
                <fa-icon [icon]="faSearch"></fa-icon>
                <span class="search-label">szukaj</span>
            </div>

            <div class="py-2 orlen-group d-flex align-items-center justify-content-center">
                <img src="/assets/grupa_orlen.png" alt="grupa orlen">
            </div>
        </div>
    </div>
</nav>

<nav id="navbar-example2" class="navbar navbar-light bg-white">
    <div class="container">
        <ul class="nav nav-pills d-flex">
            <li class="nav-item nav-item-link">
                <img src="/assets/triangle_red.png" alt="">
                <a class="nav-link" href="#mdo" routerLink="/accident">Wypadek</a>
            </li>
            <li class="nav-item nav-item-link">
                <img src="/assets/triangle_red.png" alt="">
                <a class="nav-link" href="#mdo" routerLink="/first-aid">Pierwsza pomoc</a>
            </li>
            <li class="nav-item nav-item-link">
                <img src="/assets/triangle_red.png" alt="">
                <a class="nav-link" href="#mdo" routerLink="/map-search">Mapa / Znajdź Obiekty NFZ, AED, Apteki</a>
            </li>
            <li class="nav-item nav-item-link">
                <img src="/assets/triangle_red.png" alt="">
                <a class="nav-link" href="#mdo" routerLink="/insurance">Ubezpieczenie / Dane kontaktowe</a>
            </li>
            <li class="nav-item nav-item-link">
                <img src="/assets/triangle_red.png" alt="">
                <a class="nav-link" href="#mdo" routerLink="/quiz">Quiz</a>
            </li>
            <li class="nav-item nav-item-link">
                <img src="/assets/triangle_red.png" alt="">
                <a class="nav-link" href="#mdo" routerLink="/faq">Pytania i odpowiedzi</a>
            </li>
            <!-- <li class="nav-item nav-item-link">
                <img src="/assets/triangle_red.png" alt="">
                <a class="nav-link" href="#mdo" routerLink="/checklist-before-trip">Przed wyruszeniem w drogę </a>
            </li> -->
            <li class="nav-item nav-item-link">
                <img src="/assets/triangle_red.png" alt="">
                <a class="nav-link" href="#mdo" routerLink="/emergency-numbers">Telefony alarmowe</a>
            </li>
        </ul>
    </div>
</nav>