.top-line {
    width: 100%;
    height: 8px;
    background-color: #d81e05;
}


.navbar__container {
    display: flex;
}

.navbar__menu {
    background-color: #f3f3f3;
    width: 100%;
}

.icons-list {
    padding: 29px 0;
}

.search-box {
    background-color: #5a5a5a;
    min-width: 98px;
    height: 98px;
    color: white;
}

.search-label {
    text-transform: uppercase;
}

.orlen-group {
    height: 98px;
    background-color: #DD3126;
    min-width: 209px;
}

.image-wrapper {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        height: 25px;
        padding-top: 8px;
        height: 40px;
        padding-left: 20px;
        padding-right: 15px;
        display: block;
        text-decoration: none;
        font-size: 14px;
        color: #464646;
        font-family: 'futura_plheavy', 'arial', 'verdana', sans-serif;
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover,&:focus {
        background-color: #464646;
        a {
            color: red;
        }
        img {
            visibility: hidden;
        }
    }

    img {
        position: absolute;
        top: 10px;
        left: 0;
    }
}